{% extends 'base.html' %}

{%block head%}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}" />
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>

{%endblock%}

{% block content %}

{% include "alert.html" %}
<div class="h-full w-full grid grid-cols-10 grid-rows-1 gap-x-10 ">
  <div class="px-12 col-span-10 lg:col-span-7">
    <div class="flex flex-col justify-center items-center">
      <div class="flex flex-row py-6 w-full">
        <input id="videoInput" type="text" placeholder="YouTube Video Link" name="video" class="flex-grow rounded-lg focus:outline-none focus:ring focus:border-purple-800 h-10" required></input>
        <button id="videoButton" class="flex-none rounded-lg bg-purple-600 text-white text-1xl focus:outline-none w-1/16 h-10 p-3 hover:bg-purple-800">
          Request a Video
        </button>
      </div>
      <div id="video-container" class="justify-items-center">
        <div id="player"></div>
      </div>

      <div id="controls" class="py-6 items-center w-full">
        <input id="timeline" type="range" min=0 max=1000 value=0 onChange="scrubVideo()" class="w-full">

        <div class="flex flex-row justify-between items-center ">
          <div>
            <button class="rounded-lg bg-transparent border-2 border-purple-600 text-white text-2xl px-5 focus:outline-none h-12 hover:bg-purple-800" id="playButton">
              <i class="bi bi-play-fill"></i>
            </button>
            <button class="rounded-lg bg-transparent border-2 border-purple-600 text-white text-2xl px-5 focus:outline-none h-12 hover:bg-purple-800" id="skipButton">
              <i class="bi bi-skip-end-fill"></i>
            </button>
          
            <input type="range" id="volumeBar" name="volumeBar" min="0" max="100" value="50" onChange="adjustVolume()">
          </div>
          
          <button class="rounded-lg bg-purple-600 text-white text-1xl px-5 focus:outline-none h-12 hover:bg-purple-800" id="fullscreenButton">
            <i class="bi bi-arrows-fullscreen"></i>
          </button>
        </div>
        <div class="flex flex-row py-3">
          <input type="text" value={{data.join_url}} id="invite" readonly class="flex-grow rounded-lg focus:outline-none focus:ring focus:border-purple-800 h-10"></input>
          <button onclick="copyLink()" class="rounded-lg bg-purple-600 text-white text-1xl px-5 focus:outline-none h-10 hover:bg-purple-800"> Invite your Friends </button>
        </div>
      </div>
    </div>
    </div>
  
    <div style="background-color:#2b2b28" class="flex flex-col justify-around w-11/12 h-full col-span-10 place-self-center lg:col-span-3 lg:place-self-end">
        <div style="height:5vh">
          <span class="text-white text-2xl text-center">Room Chat</span>
        </div>
        <div id="chat" style="height:85vh" class="flex flex-col w-full overflow-y-auto border-2 border-gray-700">
        </div>
        <div style="height:5vh" class="flex flex-row justify-evenly">
            <textarea placeholder="Please be nice :)" id="messageInput" name="message" class="flex-grow resize-none rounded-md focus:outline-none focus:ring focus:border-purple-800 h-12 p-2"></textarea>
            <button id="messageButton" class="flex-none rounded-md bg-purple-600 text-white focus:outline-none w-1/5 h-12 p-2 hover:bg-purple-800">
              Send
            </button>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/roomSocketio.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/roomVideo.js') }}" defer></script>

<script>
  const username = '{{data.user.username}}'
  const room = '{{data.user.room}}'
  const userId = '{{data.user.id}}'
  const video = '{{data.video}}'
</script>

{% endblock %}